/* ===============================
           GeneralStyles
=============================== */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

img {
    width: 100%;
}

h1:hover {
    opacity: 0.5;
}

a:hover {
    opacity: 0.5;
}

/* ==============Fonts & Color==============  */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Font: Karla
font-family: 'Karla', sans-serif;
Farbe: #323A45 / #848484 */

/* ===============================
           Header Nav/Menu
=============================== */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 8vw 8vh 10vw;
}

header nav h1 {
    font-size: 17px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 0 2vw;
}

header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

Header nav ul li a span {
    padding: 0 5px 0 0;
}

/* =========Hamburger Menu icon + h1========== */

.hamburgerMenu {
    display: none;
}

.hamburgerMenu i {
    padding: 20px;
    font-size: 40px;
}

.hamburgerMenu h1 {
    font-size: 20px;
}

/* =========Hamburger wenn aufgeklapt========== */

.onclickMenu {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
}

.onclickMenu i {
    font-size: 40px;
    margin: 10vh;
}

.onclickMenu ul {
    margin-top: 10vh;
    display: block;
    list-style: none;
}

.onclickMenu ul li {
    padding: 5px;
}

.onclickMenu ul li a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* =================
       Main
================= */

main section h2 {
    text-align: center;
}

main section form {
    box-shadow: 2px 2px 2px 2px rgb(109, 109, 109);
    margin: 10vh auto;
    width: 50%;
    text-align: center;
    background: rgb(158, 158, 158);
    background: radial-gradient(circle, rgba(158, 158, 158, 0.8939950980392157) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 10px;
    padding-top: 3vh;
}

main section form div {
    margin: 0 0 3vh 0;
}

main section form label {
    font-size: 20px;
    font-family: tiemosHeadline;
    color: #fff;
}

main section form div input {
    padding: 1vh 5vw;
}

.submitButton {
    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(255, 255, 255, 1) 50%, rgba(117, 117, 110, 0.896796218487395) 76%);
    margin: 2vh 0 5vh 0;
}

.submitButton:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(347deg, rgba(255, 255, 255, 1) 50%, rgba(117, 117, 110, 0.896796218487395) 76%);
}

/* ===============================
           Footer
=============================== */

footer section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vw;
    margin: 10vh 10vw;
}

footer section article h2 {
    font-size: 15px;
    font-weight: 400;
    padding: 0 0 6vh 0;
}

footer section article p {
    color: #000;
    font-weight: 300;
    font-size: 12px;
    line-height: 3vh;
    ;
}

footer section article ul {
    list-style: none;
}

footer section article a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

footer div {
    display: inline;
}

.contactPosition {
    margin: 0 0 0 7vw;
}

.extraColor1 {
    font-weight: 500;
}

.extraColor2 {
    font-weight: 600;
}

.cursiv {
    font-style: italic;
}

.copyRight {
    font-size: 12px;
    ;
    color: #B5B5B5;
    margin: 0 0 2vh 10vw;
}

.dotSize {
    font-size: 20px;
    padding: 0 10px;
}

/* ===============================
           mediaQueries
=============================== */

@media screen and (max-width: 600px) {
    .hamburgerMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3vh 2vw 3vh 3vw;
    }
    header nav {
        display: none;
    }
    footer section {
        grid-template-columns: 1fr;
    }
    .contactPosition {
        margin: 0 0 0 0vw;
    }
}